<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>맥주 목록</h2>
    </div>
    <h2 th:if="${param.removeStatus}" th:text="${param.beerId} 번 맥주 '삭제 완료'"></h2>
    <div class="row">
        <div class="col">
<!--            <button class="btn btn-primary float-end"-->
<!--                    onclick="location.href='joinUser.html'"-->
<!--                    th:onclick="|location.href='@{/users/join}'|"-->
<!--                    type="button">회원 등록-->
<!--            </button>-->
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>No</th>
                <th>카테고리</th>
                <th>맥주명</th>
                <th>도수(%)</th>
                <th>가격</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="beer : ${beers}">
                <td><a href="item.html" th:href="@{/product/beers/{beerId}(beerId=${beer.beerId})}" th:text="${beer.beerId}">회원 ID</a></td>
                <td><a href="item.html" th:text="${beer.categoryId}">테스트 상품1</a></td>
                <td th:text="${beer.beerName}">10000</td>
                <td th:text="${beer.alc}">10000</td>
                <td th:text="${beer.beerPrice}">10</td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>